[Unit]
Description=Minecraft Server
After=network-online.target

[Service]
Environment=SERVER=%i
ExecStart=/usr/bin/screen -Dm -S %i server/run.sh

ExecStop=/usr/bin/screen -S %i -X stuff "say %i will be shutdown in 30s\015"
ExecStop=/bin/sleep 10
ExecStop=/usr/bin/screen -S %i -X stuff "say %i will be shutdown in 20s\015"
ExecStop=/bin/sleep 10
ExecStop=/usr/bin/screen -S %i -X stuff "say %i will be shutdown in 10s\015"
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -S %i -X stuff "say %i will be shutdown in 5s\015"
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -S %i -X stuff "save-all\015"
ExecStop=/usr/bin/screen -S %i -X stuff "stop\015"

WorkingDirectory=/your/pulled/this/project/path
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target